<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center w-full md:justify-center sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Đăng nhập</div>
            <!--            <div class="flex items-baseline mt-0.5 font-medium">-->
            <!--                <div>Don't have an account?</div>-->
            <!--                <a-->
            <!--                    class="ml-1 text-primary-500 hover:underline"-->
            <!--                    [routerLink]="['/sign-up']">Sign up-->
            <!--                </a>-->
            <!--            </div>-->

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Tên đăng nhập</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        This Field is required
                    </mat-error>
                    <!--                    <mat-error *ngIf="signInForm.get('username').hasError('email')">-->
                    <!--                        Please enter a valid email address-->
                    <!--                    </mat-error>-->
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Mật khẩu</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        This Field is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    <a
                        class="text-md font-medium hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Separator -->
                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Or</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Single sign-on buttons -->
                <div class="flex items-center mt-8 space-x-4">
                    <button
                        class="flex-auto"
                        type="button"
                        (click)="signInBySSO()"
                        mat-stroked-button>
                        <img src="assets/icons/logo_SSO.png" alt="">
                        Login With SSO Account
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-wrap w-1/2 h-full p-16 lg:px-28 overflow-hidden dark:border-l sign-in-background">
        <!-- Logo -->
        <div class="w-full flex items-end pb-10">
            <img class="w-50" src="assets/images/logo/logo.svg">
        </div>
        <!-- Content -->
        <div class="z-10 relative w-full max-w-xl">

            <div class="text-5xl font-bold leading-none text-gray-100">
                <div>Welcome to DOC - Data Operation Center</div>
<!--                <div>Web Portal</div>-->
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-300">
                Hệ thống quản lý và vận hành Datalake được xây dựng bới Phòng Thiết kế kiến trúc dữ liệu - Ban Quản trị Dữ liệu - Tập đoàn Viettel
            </div>
        </div>
    </div>
</div>
